*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}


html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.note{
  background-color: gray;
  padding: 1rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}
.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem ;
  padding-inline: 3rem;
  flex-wrap: wrap;
}
.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem ;
}
button{
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}
button:hover{
  background-color: #45a049;
} 